.app.dark {
    --bg-color: #111010;
    --inverted-bg-color: #e7e4e4;
    --primary-color: #fff;
    --secondary-color: #8a8383;
    --inverted-primary-color: #25387c;
    --inverted-secondary-color: #3f4b6c;
    --icon-theme-color: #3f3c3b;
}
