.app.light {
    --bg-color: #e7e4e4;
    --inverted-bg-color: #111010;

    --primary-color: #25387c;
    --secondary-color: #3f4b6c;

    --inverted-primary-color: #fff;
    --inverted-secondary-color: #8a8383;

    --icon-theme-color: #ffe26f
}